a {
    text-decoration: none !important;
    color: black !important;
}



.navbar-collapse{
    justify-content: end;
}

.navbar-nav{
    align-items:center ;
}

.dropdown {
    text-align: center !important;
}

.dropdown-menu {
    background-color: rgb(254, 13, 66);
}

@media only screen and (min-width: 576px){
    .navbar {
        padding: 10px 50px 0px 70px;
    }
}