@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DotGothic16&display=swap');
/* font-family: 'DM Mono', monospace; */

h1{
  font-family: 'DotGothic16', sans-serif;
}

h2, a, input, span, p {
  font-family: 'DM Mono', monospace;
}

body {
  background-color: #cecece;
}